# Simple htaccess for testing
RewriteEngine On

# Explicitly allow download.php to be accessed directly
RewriteRule ^download\.php$ - [L]

# Send all other requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
